%% ===================================================================
%% Configuration file for storage server node
%% ===================================================================

{core_work_dir, "/home/michal/Documents/inz/local_storage/"}.

{dist_initial_node, "ds@michal-pc"}.
{dist_storage_cap, 1024*1024*1024}.		% 1GB

{http_port, 8090}.
