%% ===================================================================
%% Configuration file for storage server node
%% ===================================================================

%% logger verbosity level
%% valid options are:
%% info, warn, error
{app_log_level, info}.

{core_work_dir, "/home/michal/Documents/inz/local_storage/"}.

{dist_initial_node, "ds@michal-pc"}.
{dist_storage_cap, 1073741824}.			% 1GB

{http_port, 8090}.
