%% ===================================================================
%% Configuration file for storage server node
%% ===================================================================

%% NOTE
%%
%% THIS IS A REFERENCE FILE
%% DO NOT COMMIT ANY CHANGES
%% WITH ENV-SPECIFIC SETTING

%% logger verbosity level
%% valid options are:
%% info, warn, error
{app_log_level, info}.

{core_work_dir, "/absolute/path/to/working/dir"}.

{dist_initial_node, "nodename@nodehost"}.
{dist_storage_cap, 1073741824}.			% 1GB

{http_port, 8090}.
