%% ===================================================================
%% Configuration file for storage server benchmarks
%% ===================================================================

%% reference file!!
%% DO NOT change!!!

{gateway, "nodename@nodehost"}.		% node used in client api calls
{cluster, "path/to/cluster"}.		% directory where the clustertool is located

{threads, 1}.
{iterations, 2}.

{file_size, 10*1024*1024}.			% bytes

{setup_clean, true}.				% call 'clustertool clean'
{teardown_clean, true}.				% at setup / teardown

{verbose, true}.
{logfile, "path/to/result/output/file"}.
