
{sub_dirs, ["rel"]}.

{erl_opts, [

	% compile-time options (no'opt' disables option, e.g. nolog)
	{d, nolog}, 				% enable logger
	{d, noauth}, 			% authenticate requests
	{d, nofileio}, 			% read / write real files
	{d, noactionlog}, 		% track and log user actions
	{d, nopersistentdb}, 	% disk / memory db
	{d, noprofile}, 		% run with fprof profiler

	{i, "include"},
	{src_dirs, [
		"src",
		"src/shared",
		"src/core",
		"src/client",
		"src/dist",
		"src/http"
	]}
]}.

