<!DOCTYPE html>

<!--
 * manager.html
 * author: Michal Liszcz
 *
 * simple, single-page, stateless storage manager
 *
-->

<html ng-app="managerApp">

	<head>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>storage system manager</title>

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />

		<style>
			.fixed-width {
				width: 900px;
				margin-left: auto;
				margin-right: auto;
			}
		</style>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
		<script type="text/javascript" src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha1.js"></script>
		<script type="text/javascript" src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>

	</head>

	<body ng-controller="mainController">

		<header>

			<nav class="navbar navbar-default">

				<div class="container-fluid fixed-width">

					<div class="row">

						<div class="navbar-header">
							<span class="navbar-brand">storage system manager</span>
						</div>

					</div>

					<div class="row">

						<span class="navbar-text navbar-left">logged in as: {{user.login}}</span>

						<form 	id="loginForm" ng-controller="loginController"
								ng-submit="submit(loginForm.login, loginForm.secret)"
								class="navbar-form navbar-right" >

							<input type="text" 		ng-model="loginForm.login" 		class="form-control" placeholder="login" />
							<input type="password" 	ng-model="loginForm.secret" 	class="form-control" placeholder="password" />
							<input type="submit" 	value="Login!" 					class="btn btn-primary btn-sm" />
						</form>

					</div>

				</div>

			</nav>

		</header>

		<div class="fixed-width">


			<div class="panel panel-default">

				<div class="panel-heading">upload file</div>


			<form novalidate name="_uploadForm"
					ng-controller="uploadController"
					ng-submit="submit(uploadForm.dir, uploadForm.name)"
					class="form-inline panel-body" >

				<span class="form-control" disabled>storage</span>
				<span class="form-control" disabled>/</span>
				<span class="form-control" disabled>{{user.login}}</span>
				<span class="form-control" disabled>/</span>

				<span class="form-group"  ng-attr-class="{{_uploadForm.dir.$valid && 'has-success' || 'has-error'}}">
				<input name="dir" type="text" ng-model="uploadForm.dir" class="form-control"
					placeholder="directory" ng-pattern="/^(\w+/)*\w+$/" />
				</span>
		
				<span class="form-control" disabled>/</span>
				
				<span class="form-group" ng-attr-class="{{_uploadForm.name.$valid && 'has-success' || 'has-error'}}">
				<input name="name" type="text" ng-model="uploadForm.name" class="form-control"
					placeholder="filename" required ng-pattern="/^\w+(.\w+)?$/" />
				</span>

				<input filelist-bind name="files" type="file" ng-model="fuck_u_angular" required />

				<input type="submit" value="Upload!" class="btn btn-primary btn-sm"
						ng-disabled="_uploadForm.dir.$invalid || _uploadForm.name.$invalid " />
				
			</form>

			</div>
	
			<div ng-controller="storageController" class="panel panel-default" >
	
				<div class="panel-heading">
					files
					<button ng-click="reload()" class="btn btn-success btn-sm pull-right">
						<span class="glyphicon glyphicon-refresh"></span> refresh
					</button>
				</div>
	
				<table class="table table-hover">
					<tr>
						<!-- <th>id</th> -->
						<th>node</th>
						<th>path</th>
						<th>size [bytes]</th>
						<th>created</th>
					</tr>
					<tr ng-repeat="file in fileList | orderBy:'created':true" ng-click="download(file.vpath)"
						style="cursor: pointer;">
						<!-- <td>{{file.id}}</td> -->
						<td>{{file.node}}</td>
						<td>{{file.vpath}}</td>
						<td>{{file.bytes}}</td>
						<td>{{file.created | date:'medium'}}</td>
					</tr>
				</table>
			</div>
	
			<footer style="text-align: center;">
				<p class="text-muted credit">storage @
					<a href="http://github.com/mliszcz/inz" target="_blank">
						http://github.com/mliszcz/inz
					</a>
				</p>
			</footer>

		</div>

		<script>

			var managerApp = angular.module('managerApp', [])

			managerApp.directive('filelistBind', function() {
				return function( scope, elm, attrs ) {
					elm.bind('change', function( evt ) {
						scope.$apply(function() {
							scope[ attrs.name ] = evt.target.files;
						})
					})
				}
			})

			managerApp.controller('mainController', function($scope) {

				// user credentials
				$scope.user = { login: '', secret: '' }
			})

			managerApp.controller('loginController', function($scope) {

				$scope.submit = function(login, secret) {
					$scope.user.login = login
					$scope.user.secret = secret // CryptoJS.MD5(secret)
				}

				// default user
				$scope.submit('anonymous', '82f63b78')
			})

			managerApp.controller('uploadController', function($scope, $http) {

				$scope.uploadForm = { dir: '', name: '' }
				$scope.file = [{name: ''}]

				$scope.$watch('files[0]', function(newValue, oldValue) {
					$scope.uploadForm.name = $scope.files[0].name
					console.log($scope.files[0])
				})

				$scope.submit = function(dir, name) {

					var path = (dir) ? (dir + '/' + name) : name
					var path = $scope.user.login + '/' + path

					var reader = new FileReader()

					reader.onloadend = function(e) {

						var binaryData = e.target.result
						console.log(binaryData.length)

						hmac = CryptoJS.HmacSHA1('POST:' + $scope.user.login + ':/' + path, $scope.user.secret)

						$http({
							method: 'POST',
							url: window.location.protocol + '//' + window.location.host + '/storage/' + path,
							headers: {
								'Authorization' : 'HMAC ' + $scope.user.login + ':' + hmac,
								'Content-Type' 	: 'application/octet-stream',
								'Content-Transfer-Encoding' : 'binary'
							},
							transformRequest: function(dd) { return dd },
							data: binaryData

						}).success(function(data, status, headers, config) {
							$scope.$root.$broadcast('uploadedEvent', [])
							// alert("uploaded successfully")

						}).error(function(data, status, headers, config) {
							alert('upload failed with error code ' + status + '\n' + data)
						})
					}

					reader.readAsArrayBuffer($scope.files[0])
					// reader.readAsBinaryString($scope.files[0])
				}
			})

			managerApp.controller('storageController', function($scope, $http) {

				$scope.fileList = [ ]

				$scope.$root.$on('uploadedEvent', function(event, args) { $scope.reload() })

				$scope.reload = function() {

					hmac = CryptoJS.HmacSHA1('GET:' + $scope.user.login + ':/' + $scope.user.login + '//', $scope.user.secret)

					$http({
						method: 'GET',
						url: window.location.protocol + '//' + window.location.host + '/storage/' + $scope.user.login,
						headers: {
							'Authorization' : 'HMAC ' + $scope.user.login + ':' + hmac,
						}

					}).success(function(data, status, headers, config) {
						$scope.fileList = data

					}).error(function(data, status, headers, config) {
						alert('listing failed with error code ' + status + '\n' + data)
					})
				}

				$scope.download = function(path) {

					hmac = CryptoJS.HmacSHA1('GET:' + $scope.user.login + ':/' + path, $scope.user.secret)

					// var xhr = new XMLHttpRequest()
					// xhr.open("GET", window.location.protocol + '//' + window.location.host + '/storage/' + path)
					// xhr.responseType = "arraybuffer"
					
					// xhr.onload = function () {
					//     if (this.status === 200) {
					//         var blob = new Blob(xhr.response, {type: "data:application/octet-stream"});
					//         var objectUrl = URL.createObjectURL(blob);
					//         window.open(objectUrl);
					//     }
					// };
					// xhr.send();

					$http({
						method: 'GET',
						url: window.location.protocol + '//' + window.location.host + '/storage/' + path,
						headers: {
							'Authorization' : 'HMAC ' + $scope.user.login + ':' + hmac,
						},
						responseType: 'arraybuffer',
						transformResponse: function(dd) { return dd }

					}).success(function(data, status, headers, config) {
						console.log(data.length)

						// var hiddenElement = document.createElement('a');
						// hiddenElement.href = 'data:application/octet-stream,' + data;
						// hiddenElement.target = '_blank';
						// hiddenElement.download = 'myFile.pdf';
						// hiddenElement.click();

						// document.location = 'data:application/octet-stream,' + encodeURIComponent(data)

						// var pom = document.createElement('a'); 
						// pom.setAttribute('href', 'data:application/octet-stream,' + data); 
						// pom.setAttribute('download', 'file_name'); 
						// pom.click()

						var blob = new Blob([data], {type: "application/octet-stream"});
						var objectUrl = URL.createObjectURL(blob);
						window.open(objectUrl);

					}).error(function(data, status, headers, config) {
						alert('download failed with error code ' + status + '\n' + data)
					})
				}
			})

		</script>

	</body>

</html>
